<!DOCTYPE html>
<html lang="en">

    <head>
      
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <!-- MY CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename ='css/style.css') }}">
        <link rel="stylesheet" href="/static/style.css">
        
        <!-- JQUERY (First) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

        <!-- BOOTSTRAP JS (Last) -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        <!-- Socket IO JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>

        {% block head %}
        {% endblock %}
        
        <title>
          Project 2: {% block title %}{% endblock %}
        </title>
    </head>

    <body>

<style>

#header, #footer{
    color: white;
    height: 80px;
  font-size: 50px;
  font-family: Times New Roman;
  background-color:  black;
  text-align: center; 
}   

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
    font-size: 18px;
   height: 40px;  
}

#logouttext{
    font-size: 15px;
    margin-top: 2px;
    margin-left: 93%;
   
}

.button{
    background-color: #ffcccc;
    font-size: 15px;
    color: black;
}
</style> 

<div id="header">
  Welcome to Let'sChat! 
 


<form action="/logout">
    <button id = "logouttext" class="button" type="submit" value="submit"> Logout</button>
    <div id="logouttext">
<font color="#264d73"><i>Welcome, {{ loggedinuser }}</i></font>
</div>
</form>
</div> 




<div id="footer">
  <p>Developed by Meenu Gigi</p>
</div> 

  </body>
        {% block content %}
        {% endblock %}


 
</html>